{
	"parser": "babel-eslint",
	"parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
	"env": {
        "browser": true,
		"node": true
    },
	"extends": "eslint:recommended",
	"rules": {
		"indent": ["error", "tab"],
		"quotes": ["error", "double"],
		"semi": ["error", "always"],
		"no-console": "off",
		"react/jsx-uses-vars": 2,
		"no-unused-vars": "off"
	},
	"globals": {
		"makePerspective":true,
		"Float32Array":true,
        "Matrix": true,
        "$V": true
    },
	"plugins": [
    	"react"
  	]
}
